body {
    position: relative;
}

.remove {
    all: unset !important;
    color: black !important;
    width: 100% !important;
}

.card, .card-image, .card-action, .btn, #googleMap, li, .collapsible, .collapsible-header {
    border-radius: 2em !important;
}

#greenDrop {
    border-radius: 1em !important;
}

.bisect {
    margin-top: 0.3em;
}

.chat-box {
    padding: 0.75em !important;
}

.more-margin {
    margin-bottom: 2em;
}

.collapsible-body {
    border: none;
}

.flex-right {
    flex: 1 1 0%;
    text-align: right !important;
}

.sidenav {
    border-radius: 0 9em 0 0;
    overflow: visible;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

.ft-green {
    background-color: #00af66 !important;
    color: #ffffff !important;
}

.ft-green-text {
    color: #00af66 !important;
    font-weight: 300;
}

.greyer-text {
    color: #0b142e;
    font-weight: lighter;
}

.light-text {
    font-weight: lighter;
}

.note-text {
    font-size: 12px;;
    color: #6f6f6f;
}

.ft-lapis {
    background-color: #162758 !important;
    color: #fff !important;
}

.ft-lapis-darker {
    background-color: #0b142e !important;
    color: #fff !important;
}

blockquote {
    border-left: 5px solid #00af66;
}

.tabs .tab a {
    color: #00af66;
    /*Custom Text Color*/
    font-weight: bold;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #000000;
    /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
    color: #00af66;
    /*Custom Text Color While Active*/
    background-color: rgba(64, 166, 38, 0.25);
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color: #00af66;
    /*Custom Color Of Indicator*/
}

.pointer {
    cursor: pointer;
}

.progress-bar {
    width: 265px; 
    background-color: #ffffff; 
    height: 4px; 
    display: inline-flex; 
    border-radius: 2px;
}

.progress-bar-fill {
    background-color: #6f6f6f; 
    height: 4px;
    border-radius: 2px 0 0 2px;
    width: 75px;
    float: right;
}

.font-9 {
    font-size: 9pt;
}

.bold {
    font-weight: bold;
}

.img {
    height: 2em;
    width: auto;
    margin-right: 0.5em;
}

.social {
    height: 3em;
    width: auto;
    margin: 1em;
}

.in-line {
    display: inline;
}

.text-depth {
    text-shadow: 0px 2px 5px #000000
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #70b498 ;
}
  
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #00af66 ;
}

.no-margin-right {
    margin-right: 0px !important;
}